@charset "UTF-8";

@font-face {
	font-family: 'Bazzi';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'Bazzi';
}

.table a:link { color: black; text-decoration: none;}

.table a:visited { color: black; text-decoration: none;}

.table a:hover { color: black; text-decoration: underline;}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: none;
}