@charset "UTF-8";

@font-face {
	font-family: 'Bazzi';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'Bazzi';
}

.pageNevigation a:link{
	color: black;
	text-decoration: none;
}
.pageNevigation a:visited{
	color: black;
	text-decoration: none;
}
.pageNevigation a:hover{
	color: black;
	text-decoration: underline;
}

