/*PEN STYLES*/
* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Bazzi';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #f1f1f1;
	margin-left: 10%;
	width: 80%;
	
}

body, h1, h2, h3, div {
	font-family: 'Bazzi';
}

.container {
	padding: 0px;
}

ul {
	list-style: none;
};

.card .card-header:first-child, .card-header:last-child {
	border-radius: 0px;
}

.bg-light {
	background-color: #f8f9fa !important;
}

.btnText {
	text-decoration: none;
}
.plus {
	padding: 20px;
	text-align : center;
}

.left {
	width: 50%;
	height: 200px;
	padding: 20px;
	text-align: center;
}
.right {
	float: none;
	width: 50%;
	border-left: 1px dashed #cfcbc0;
	padding: 0px;
	top: 0px;
}

.right .card-body {
	padding: 0px;
}
.overview {
	overflow: auto;
	border: 1px solid;
	border-color: #d6d2d9;
	height: 400px;
	width: 100%;
	padding: 20px;
}

.mapPrint .reviewPrint {
	width: 100%;
}

button {
	text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: none;
}

.container {
	padding: 0px;
}

#table {
	background-color : white;
	box-shadow: 3px 3px 10px #807e7e;
	max-height: 90%;
}

td.left {
	padding-top: 20px;
}

td.right {
	padding: 0px;
	vertical-align: top; 
	overflow: hidden;
}

.btnText  {
	color: black;
}

.btnText:hover {
	text-decoration: none;
	color: orange;
}
