@charset "UTF-8";

.user-header{
    background-color:rgba(255,220,163,0.3);
}


 .back-color {
	background-color: rgba(255,255,255,0.7);
	border-radius: 12px;
 	box-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
 	backdrop-filter: blur(1px);
 }

.warning-color {
	color: red;
}

@font-face {
	font-family: 'Bazzi';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'Bazzi';
}

.login-img{
	height: 100vh;
	background-image:url('/images/user/login_bg.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
}

.join-img{
	height: 100vh;
	background-image:url('/images/user/join_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow:hidden;
}

.modify-img{
	height: 100vh;
	background-image:url('/images/user/modify_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow:hidden;
}

a{
	color:black;
}








/* 마이페이지 */

.my-top{
	margin-top: 120px; 
	margin-bottom: 150px;
}

.my-card-header{
	 padding-bottom:9px; 
	 background-color:rgba(255,220,163,0.3);
}

.ellipsis {
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.my-btn-group{
	display: table; 
	margin: 0; 
	padding: 10px 0; 
	width: 100%; 
	border-radius: 5px; 
	border: 1px solid #EFEFEF;  
	text-align: center; 
	list-style: none;
}

.my-btn-del{
	border: none; 
	background: none; 
	padding: 0;
}

.card-body .profile{
    width: 25px;
    height: 25px; 
    border-radius: 70%;
    overflow: hidden;
}

.card_hover {
   position: relative;
}
      
.card_hover .term{
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 3px 6px;
   border-radius: 3px;
}

.card_hover .lock{
   position: absolute;
   top: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 3px 6px;
   border-radius: 3px;
}

.card_hover a{
	color:black;
	text-decoration:none;	
}

.card_hover:hover {
	color: #ffaa42;
}

.content-box{
	overflow: auto;
	max-height: 588px;
}


.content-box_disable{
	overflow: auto;
	max-height: 629px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: none;
}